body {
    background-color: #f4f2ee !important;
}

#me-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.text-hover:hover {
    color: black !important;
}

.spanUnderIcon {
    font-size: 12px;
    margin-top: 2px;
}

.clamped {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
